<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" 
    crossorigin="anonymous">

  <title>Procesos</title>


  <style>
    .progress-bar-vertical {
      width: 20px;
      min-height: 100px;
      display: flex;
      align-items: flex-end;
      margin-right: 20px;
      float: left;
    }
        </style>
</head>

<body>

  <div class="alert alert-danger" id="global-alert" role="alert"   style="display:none;">
    <strong>Error!</strong> Archivo sin formato o sin ruts.
  </div>



  <div class="container">

    <div class="row mt-5 justify-content-center">

  <div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      Matrices
    </div>
  
    <div class="container">
    
      <div class="row">
    <div class="col-sm-12">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Matrices
           
          </h5>

          <p class="card-text">Seleccion de matrices a mostrar</p>
          
          <div class="row">

            

              <div class="col-6"> 
                <select id="matriz-select" class="custom-select custom-select-lg mb-3">
                  <option selected value="">SELECCIONE MATRIZ.. </option>
                  <option  value="8">MATRIZ PRINCIPAL </option>
                  <option value="9">MATRIZ RESUMEN</option>
     
                </select>
              </div>


            
          </div>
          


        </div>

      </div>
    </div>
  </div>
</div>

  </div>
</div>
</div>







<div class="row mt-5 justify-content-center">

<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      Filtros
    </div>
  <div class="container">
    <div class="row">




      <div class="col-sm-12">
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Clientes
             
            </h5>

            <p class="card-text">Genera matriz reportes por clientes</p>
            
            <div class="row">

              

                <div class="col-6"> 
                  <select id="cliente-select" class="custom-select custom-select-lg mb-3">
          
                    <option selected value="160-000">CLIENTE 1 </option>
                    <option value="090-000">CLIENTE 2</option>
          
                  </select>
                </div>

              
              <div class="col-1">
                <button type="button" id="cliente-button" class="btn btn-primary">Ejecutar</button>
              </div>
              
            </div>
            
            <div class="row"> 
            <div class="col-2">
                  <input type="radio" name="radio-apertura-cliente" value="supervisor" aria-label="Checkbox for following text input"> Supervisor
            </div>
            <div class="col-2">
              <input type="radio"  name="radio-apertura-cliente" value="instalacion" aria-label="Checkbox for following text input"> Instalaci贸n
        </div>
          </div>


          </div>

        </div>
      </div>



      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Supervisores
             
            </h5>

            <p class="card-text">Genera matriz reportes por Supervisor</p>
            <div class="row">

              

                <div class="col-6"> 
                  <select id="supervisor-select" class="custom-select custom-select-lg mb-3">
          
                    <option selected value="160-000">CLIENTE 1 </option>
                    <option value="090-000">CLIENTE 2</option>
          
                  </select>
                </div>

              
              <div class="col-1">
                <button type="button" id="supervisor-button" class="btn btn-primary">Ejecutar</button>
              </div>

            </div>

            <div class="row"> 
              <div class="col-2">
                <input type="radio" name="radio-apertura-supervisor" value="cliente" aria-label="Checkbox for following text input"> Cliente
          </div>
          <div class="col-2">
            <input type="radio"  name="radio-apertura-supervisor" value="instalacion" aria-label="Checkbox for following text input"> Instalaci贸n
      </div>
            </div>



          </div>

        </div>
      </div>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Jefes de Operaciones
             
            </h5>

            <p class="card-text">Genera matriz reportes por Jefe de Operaciones</p>
            <div class="row">

              

                <div class="col-6"> 
                  <select id="jefes-operaciones-select" class="custom-select custom-select-lg mb-3">
          
                    <option selected value="160-000">CLIENTE 1 </option>
                    <option value="090-000">CLIENTE 2</option>
          
                  </select>
                </div>

              
              <div class="col-1">
                <button type="button" id="jefes-operaciones-button" class="btn btn-primary">Ejecutar</button>
              </div>
              
            </div>

            <div class="row"> 
              <div class="col-2">
                    <input type="radio" name="radio-apertura-jefeop" value="instalacion" aria-label="Checkbox for following text input"> Instalaci贸n
              </div>
              <div class="col-2">
                <input type="radio"  name="radio-apertura-jefeop" value="cliente" aria-label="Checkbox for following text input"> Cliente
          </div>
          <div class="col-2">
            <input type="radio"  name="radio-apertura-jefeop" value="supervisor" aria-label="Checkbox for following text input"> Supervisor
      </div>
            </div>

          </div>

        </div>
      </div>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zonas
             
            </h5>

            <p class="card-text">Genera matriz reportes por Zona</p>
            <div class="row">

              

                <div class="col-6"> 
                  <select id="zona-select" class="custom-select custom-select-lg mb-3">
                    <option selected value="160-000">SELECCIONE ZONA... </option>
                    <option  value="160-000">ZONA 1 </option>
                    <option value="090-000">ZONA 2</option>
                    <option  value="160-000">ZONA 3 </option>
                    <option value="090-000">ZONA 4</option>
                    <option  value="160-000">ZONA 5</option>
                    <option value="090-000">ZONA 6</option>
          
                  </select>
                </div>

              
              <div class="col-1">
                <button type="button" id="zona-button" class="btn btn-primary">Ejecutar</button>
              </div>
              
            </div>

            <div class="row"> 
              <div class="col-2">
                    <input type="radio" name="radio-apertura-zona" value="instalacion" aria-label="Checkbox for following text input"> Instalaci贸n
              </div>
              <div class="col-2">
                <input type="radio"  name="radio-apertura-zona" value="cliente" aria-label="Checkbox for following text input"> Cliente
          </div>
          <div class="col-2">
            <input type="radio"  name="radio-apertura-zona" value="supervisor" aria-label="Checkbox for following text input"> Supervisor
      </div>
            </div>

          </div>

        </div>
      </div>



    </div>

  </div>
</div>
</div>
</div>


</div>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    <script src="/js/jquery.min.js"></script> 
  <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>-->
  <script src="/js/popper.min.js" 
    crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js" 
    crossorigin="anonymous"></script>

    <script>
'use strict'


$(document).ready(function () {

  let clientes =  JSON.parse('<%-JSON.stringify(CLIENTES)%>')
  let supervisores=JSON.parse('<%-JSON.stringify(SUPERVISORES)%>')
  let jefesOperaciones=JSON.parse('<%-JSON.stringify(JEFES_OPERACIONES)%>')
console.log(jefesOperaciones)



      //valores del select
      $('#cliente-select').empty()
      $('#cliente-select').append(`<option selected value="">SELECCIONE CLIENTE...</option>`); 

      clientes.map(cliente=>{
        $('#cliente-select').append(`<option  value="`+cliente["CODI"]+`"> `+cliente["LABEL"]+`</option>`); 
      })

          //valores del select
          $('#supervisor-select').empty()
          $('#supervisor-select').append(`<option selected value="">SELECCIONE SUPERVISOR...</option>`); 
    
    supervisores.map(supervisor=>{
      $('#supervisor-select').append(`<option  value="`+supervisor["CODI"]+`"> `+supervisor["LABEL"]+`</option>`); 
    })

              //valores del select
              $('#jefes-operaciones-select').empty()
              $('#jefes-operaciones-select').append(`<option selected value="">SELECCIONE JEFE OPERACIONES...</option>`); 
              jefesOperaciones.map(jefeOperaciones=>{
      $('#jefes-operaciones-select').append(`<option  value="`+jefeOperaciones["CODI"]+`"> `+jefeOperaciones["LABEL"]+`</option>`); 
    })





      $("#cliente-button").click(function (event) {
        let matrizSelected = $("#matriz-select").val();
        let clienteSelected = $("#cliente-select").val()==""?null:$("#cliente-select").val();
        let aperturaSelected=$('input[name="radio-apertura-cliente"]:checked').val();

        $('#supervisor-select').val("").change();
        $('#jefes-operaciones-select').val("").change();
       
      //  {"id":2,"filter":[{"type":"cenco1codi","value":"028-000"},{"type":"sup","value":null},{"type":"jefeop","value":null}],"apertura":"supervisor" }
 console.log("boton empieza")

//stop submit the form, we will post it manually.
event.preventDefault();
    
let data={'matrizConfig':{"id":matrizSelected,"filterValue":[{"type":"cenco1codi","value":clienteSelected},{"type":"sup","value":null},{"type":"jefeop","value":null}],"apertura":aperturaSelected }};

actualizaMatriz(data)


});


$("#supervisor-button").click(function (event) {
  let matrizSelected = $("#matriz-select").val();
let supervisorSelected = $("#supervisor-select").val()==""?null: $("#supervisor-select").val();
let aperturaSelected=$('input[name="radio-apertura-supervisor"]:checked').val();

$('#cliente-select').val("").change();
$('#jefes-operaciones-select').val("").change();

console.log("boton empieza Supervisor")

//stop submit the form, we will post it manually.
event.preventDefault();

let data={'matrizConfig':{"id":matrizSelected,"filterValue":[{"type":"cenco1codi","value":null},{"type":"sup","value":supervisorSelected},{"type":"jefeop","value":null}],"apertura":aperturaSelected }};



actualizaMatriz(data)

});


$("#principal-button").click(function (event) {


console.log("boton empieza principal")

//stop submit the form, we will post it manually.
event.preventDefault();

let data={'matrizConfig':{'id':1,'parameter':''}};


actualizaMatriz(data)

});


$("#accion-inmediata-button").click(function (event) {


console.log("boton empieza accion inmediata")

//stop submit the form, we will post it manually.
event.preventDefault();

let data={'matrizConfig':{'id':4,'parameter':''}};

actualizaMatriz(data)

});


$("#jefes-operaciones-button").click(function (event) {

  $('#cliente-select').val("").change();
  $('#supervisor-select').val("").change();

console.log("boton empieza jefes operaciones")
let matrizSelected = $("#matriz-select").val();
let jefesOperacionesSelected = $("#jefes-operaciones-select").val()==""?null:$("#jefes-operaciones-select").val();
let aperturaSelected=$('input[name="radio-apertura-jefeop"]:checked').val();


//stop submit the form, we will post it manually.
event.preventDefault();

let data={'matrizConfig':{"id":matrizSelected,"filterValue":[{"type":"cenco1codi","value":null},{"type":"sup","value":null},{"type":"jefeop","value":jefesOperacionesSelected}],"apertura":aperturaSelected }};



actualizaMatriz(data)

});






    });

function actualizaMatriz(data){

  $.ajax({

url: "/actualizaFiltroMatriz",
type: 'post',
    dataType: 'json',
    contentType: 'application/json',
    
    data: JSON.stringify(data),
success: function (data) {

console.log(data);

if (data.status=="ok"){
console.log("ok ");


} 
},
error: function (e) {


console.log("ERROR : ", e);


}
});

}

    </script>




</body>

</html>